html,body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}

p {
    margin: 0;
    padding: 0;
}

#clock {
    /* text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.time {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}
.date {
    letter-spacing: 0.1em;
    font-size: 24px;
}
.text {
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
}

#music {
    
}


.toggle {
	background-color: black;
	border-radius:28px;
	border:3px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Girassol', cursive;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #d6e2ff;
}

.toggle:hover {
	background-color:#0f3854;
}

.toggle:active {
	position:relative;
	top:1px;
}

.music_container {
    
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 100px;
}